/*@font-face {*/
    /*font-family: Lato;*/
    /*src: url('../fonts/Lato-Regular.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Italic;*/
    /*src: url('../fonts/Lato-Italic.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: Lato Bold;*/
    /*src: url('../fonts/Lato-Bold.ttf');*/
/*}*/

html { overflow-y: scroll; }

body {
    background: #444 repeat 0 0 scroll;
}

#title{
    background:transparent url(../images/title.png) 0 0 scroll;
    position:absolute;
    top:60px;
    left:24px;
    height:62px;
    width:334px;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
    font-family:arial, sans-serif;
}

#download:hover{
    color:#fff;
}