/* COLORS AND VARIABLES */
/* VARS */
.no-margin {
  margin: 0 !important; }

/* BODY */
body {
  font-family: '1942_report1942_report';
  background-color: #000000 !important; }

a {
  color: #8A8173 !important;
  text-decoration: underline; }

a:focus, a:hover {
  color: #8A8173 !important; }

/* LOADING OVERLAY */
.loading-overlay {
  position: fixed;
  z-index: 100;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 100%; }
  .loading-overlay p {
    color: #8A8173;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -51px;
    margin-top: -5px; }

/* BGs */
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: 0; }

.background-all {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black; }

.background {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 500px;
  position: relative; }

.background-top {
  background: url("../images/background/background_top.jpg") no-repeat top center fixed; }

.background-mid {
  background: url("../images/background/background_mid.jpg") no-repeat top center fixed; }

/* CONTENT */
.content {
  left: 50%;
  position: absolute;
  margin-left: -375px;
  color: #8A8173;
  width: 750px; }
  .content a {
    color: #8A8173;
    text-decoration: underline;
    cursor: pointer;
    z-index: 1; }
  .content h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline; }
  .content h3 {
    font-size: 1.2em; }
  .content ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .content .row {
    padding: 1.5em;
    background-color: #000000;
    margin-bottom: 0.5em; }
  .content .more-button {
    text-align: center;
    width: 100%; }

.side-text {
  position: absolute;
  top: 0;
  left: 800px;
  width: auto;
  transform-origin: 0 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  color: #000;
  font-size: 1.5em;
  width: 2000px;
  overflow: hidden; }

/* HEADER */
.header-desktop {
  display: block; }

.header-mobile {
  display: none;
  padding: 1em !important;
  width: 100% !important;
  margin-right: 0;
  margin-left: 0; }

.header {
  position: relative;
  width: 100%;
  text-align: center; }
  .header a {
    text-decoration: none; }
  .header li {
    display: inline;
    padding-left: 1.6em;
    padding-right: 1.6em;
    font-size: 1.6em; }

.header-menu-hl {
  position: absolute;
  top: 27px;
  left: 65px;
  height: 2px;
  width: 60px;
  background-color: #8A8173; }

.header-row {
  position: fixed;
  width: 780px;
  z-index: 60;
  -webkit-box-shadow: 0px 6px 13px -3px rgba(255, 209, 170, 0.26);
  -moz-box-shadow: 0px 6px 13px -3px rgba(255, 209, 170, 0.26);
  box-shadow: 0px 6px 13px -3px rgba(255, 209, 170, 0.26); }

/* NEWS */
.news-row {
  margin-top: 67px; }

.news img {
  margin-top: 1.5em;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.2);
  -moz-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.2);
  box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.2); }

/* LIVE */
.live li {
  display: inline; }
  .live li p {
    display: table-cell; }

/* MUSIC PLAYER */
.rating {
  display: none !important; }

.description {
  display: none !important; }

.ttw-music-player.plyer-titel.title {
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important; }

.title {
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important;
  display: none;
  width: auto !important;
  margin-right: 0.5em;
  padding: 0 !important; }

.artist-outer {
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important;
  display: none; }

.artist {
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important; }

.duration {
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important;
  display: inline-block; }

.ttw-music-player {
  width: 60px;
  margin: 1em auto;
  font-family: '1942_report1942_report' !important;
  color: #8A8173 !important; }

#music-player {
  padding-top: 0;
  padding-bottom: 0;
  height: 197px; }

.music {
  position: relative; }

.music-player {
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  margin-top: -35px; }

.tracklist {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0 !important;
  margin-left: -620px;
  margin-top: 53px;
  width: 600px; }

.track-info {
  margin: 0 !important;
  padding: 0 !important;
  clear: left; }
  .track-info p {
    margin: 0 !important;
    padding: 0 !important; }

.track {
  font-size: 14px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  background: none !important;
  border: none !important; }

.playing .title {
  border-bottom: 1px #8A8173 solid !important; }

.tracks {
  background: none !important;
  border: none !important;
  list-style-type: none !important; }

.tracklist {
  background: none !important;
  border: none !important; }

.player-controls {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: -5px !important;
  clear: left;
  background: none !important; }

.ttw-music-player {
  width: auto !important;
  margin-left: 0 !important; }

.ttw-music-player .play {
  background: transparent url(../images/music/player/player-play.jpg) no-repeat center center scroll !important; }

.ttw-music-player .pause {
  background: transparent url(../images/music/player/player-pause.jpg) no-repeat center center scroll !important; }

.ttw-music-player .next {
  background: transparent url(../images/music/player/player-forward.jpg) no-repeat center center scroll !important; }

.ttw-music-player .previous {
  background: transparent url(../images/music/player/player-back.jpg) no-repeat center center scroll !important; }

.ttw-music-player .elapsed {
  height: 7px !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 1px;
  width: 60%;
  background: none !important;
  background-color: #8A8173 !important; }

.progress {
  background-color: #666 !important;
  width: 55px !important; }

.progress-wrapper {
  width: 55px !important; }

/* DISCOGRAPHY */
.discocraphy {
  position: relative;
  min-height: 476px; }

.discocraphy-background {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 0; }

.discocraphy-cover-big {
  position: relative;
  z-index: 1;
  width: 240px;
  margin-left: 3.5em;
  margin-top: 3em;
  padding-bottom: 0em;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
  -moz-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
  box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3); }

.discocraphy-cover-list {
  position: relative;
  text-align: left;
  margin-left: 3em !important;
  z-index: 1;
  width: 100%; }
  .discocraphy-cover-list li {
    display: inline-block;
    margin-right: 11em; }
  .discocraphy-cover-list li:last-child {
    margin-right: 0; }

.discocraphy-cover-small {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
  -moz-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
  box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3); }

.discography-popup {
  outline: none !important;
  border: none !important; }

#discographyPopup {
  display: block;
  margin-top: -190px;
  z-index: -1; }
  #discographyPopup img {
    margin: 1em;
    margin-top: 1.5em;
    width: 330px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
    -moz-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3);
    box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3); }
  #discographyPopup .infolist {
    display: inline; }
    #discographyPopup .infolist p {
      display: table-cell; }

#impressumPopup {
  position: fixed !important;
  height: 100%;
  width: 780px;
  left: 50%;
  margin-left: -390px;
  top: 0;
  display: block;
  z-index: -1; }
  #impressumPopup .impressum-content {
    background-color: black;
    padding: 4em;
    height: 100%;
    overflow: auto; }

.mfp-close-btn-in .mfp-close {
  color: #8A8173 !important; }

.mfp-title {
  color: #8A8173 !important; }

/* IMPRESSIONS */
.bx-wrapper {
  margin: 1em auto 1em !important; }

.slide {
  width: 85px;
  height: 85px;
  overflow: hidden; }
  .slide img {
    min-width: 85px;
    min-height: 85px;
    border: none !important;
    outline: none !important; }
  .slide a {
    border: none !important;
    outline: none !important; }

.mfp-counter {
  display: none; }

.mfp-img {
  max-width: 800px !important; }

/* FOOTER */
.footer {
  text-align: center;
  margin-bottom: 0 !important; }

.footer-items {
  padding: 1em !important; }
  .footer-items li {
    display: inline;
    text-align: center;
    padding-left: 4em;
    padding-right: 4em; }

.footer-row {
  margin-bottom: 0 !important; }

/* ANIMATIONS */
.ng-hide-add, .ng-hide-remove {
  /* ensure visibility during the transition */
  display: block !important;
  /* yes, important */ }

.slide-up-smal {
  transition: 0.5s linear all;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
  padding-bottom: 1em; }

.slide-up {
  transition: 0.5s linear all;
  height: auto;
  min-height: 100px;
  max-height: 2500px;
  overflow: hidden;
  padding-bottom: 1em; }

.slide-up.ng-hide {
  min-height: 0;
  max-height: 0; }

.slide-up-smal.ng-hide {
  min-height: 0;
  max-height: 0; }

/* MOBILE MENU */
.mobile-menu {
  display: none;
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0px;
  left: -213px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: black;
  -webkit-box-shadow: 6px 6px 13px -3px rgba(255, 209, 170, 0.26);
  -moz-box-shadow: 6px 6px 13px -3px rgba(255, 209, 170, 0.26);
  box-shadow: 6px 6px 13px -3px rgba(255, 209, 170, 0.26);
  z-index: 50; }
  .mobile-menu ul {
    margin-top: 68px; }
    .mobile-menu ul li {
      font-size: 20px;
      color: #8A8173;
      padding: 1em;
      border-bottom: 1px #8A8173 solid; }

.hide-mobile-menu {
  left: -213px; }

.show-mobile-menu {
  left: 0px; }

/* MOBILE BURGER ICON */
.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none; }

.tcon > * {
  display: block; }

.tcon:hover, .tcon:focus {
  outline: none; }

.tcon::-moz-focus-inner {
  border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #8A8173;
  position: relative; }

.tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #8A8173;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%; }

.tcon-menu__lines::before {
  top: 10px; }

.tcon-menu__lines::after {
  top: -10px; }

.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 40px; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.highlight {
  display: none !important; }

.album-cover {
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3) !important;
  -moz-box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3) !important;
  box-shadow: 0px 0px 13px 1px rgba(255, 209, 170, 0.3) !important; }

/* MOBILE OPTIMISATIONS */
@media (max-width: 780px) {
  .mobile-menu {
    display: block; }
  .content {
    left: 0;
    margin-left: 0;
    width: 100%;
    overflow: hidden; }
  .news img {
    width: 100%; }
  .discocraphy-cover-list li {
    display: block;
    float: left;
    padding: 1.5em;
    margin: 0; }
  .discocraphy-cover-list {
    margin-left: 1.5em !important; }
  #discographyPopup img {
    width: 100%; }
  .music-player {
    width: 100%;
    position: relative;
    margin: 0; }
  .tracklist {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%; }
  .title {
    padding-top: 1em !important; }
  #music-player {
    height: auto; }
  .player {
    margin-left: 1.5em; }
  .duration {
    display: none; }
  .footer-items li {
    padding-left: 0;
    padding-right: 0; }
  .header-desktop {
    display: none; }
  .header-mobile {
    display: block; }
  #discographyPopup .infolist p {
    display: block; }
  #impressumPopup {
    position: fixed !important;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: -6; } }

@media (max-width: 530px) {
  .discocraphy-cover-big {
    width: 130px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em; }
  .discocraphy-cover-small {
    width: 130px;
    float: left; }
  .discocraphy-background {
    height: 100%; } }
