<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>WEIRD FATE</title>
		<meta name="keywords" content="Weird Fate, Black Metal, the collapse of all that has been, cycle of naught, conspiracy, Seelennacht">
  		<meta name="description" content="Weird Fate - Official Website">

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Angular JS -->
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/angular_sanitize.min.js"></script>
		<script src="js/libs/angular-animate.min.js"></script>

		<!-- Fonts -->
		<link href="fonts/1942-webfont.css" rel="stylesheet">

		<!-- Minified SASS files -->
		<link href="css/main.min.css" rel="stylesheet">

		<!-- libs css -->
		<link href="js/libs/jquery.bxslider.css" rel="stylesheet">
		<link rel="stylesheet" href="js/libs/magnific-popup.css">

		<!-- ng progress -->
		<script src="js/libs/ngProgress.min.js"></script>
		<link rel="stylesheet" href="js/libs/ngProgress.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="starter">
		<!-- background elements -->
		<div class="background-all"></div>
		<div class="background-container">
			<div class="background background-top" data-stellar-background-ratio="0.5"></div>
			<div class="background background-mid" data-stellar-background-ratio="0.7"></div>
			<div class="background background-top" data-stellar-background-ratio="0.4"></div>
		</div>

		<div class="content" ng-controller="AppCtrl">
			<!-- header -->
			<div class="row header-row header-desktop">
				<div class="header col">
					<ul class="header-menu">
						<li>
							<a id="news-link" href="##news" ng-click="highlightMenu('news-link',true)" target="_self">{{jsonModel.overallJson.menuentries.news.label}}</a>
						</li>
						<li>
							<a id="live-link" href="##live" ng-click="highlightMenu('live-link',true)" target="_self">{{jsonModel.overallJson.menuentries.live.label}}</a>
						</li>
						<li>
							<a id="music-link" href="##music" ng-click="highlightMenu('music-link',true)" target="_self">{{jsonModel.overallJson.menuentries.music.label}}</a>
						</li>
						<li>
							<a id="impressions-link" href="##impressions" ng-click="highlightMenu('impressions-link',true)" target="_self">{{jsonModel.overallJson.menuentries.impressions.label}}</a>
						</li>
					</ul>
					<div class="header-menu-hl"></div>
				</div>
			</div>

			<!-- mobile menu -->
			<div class="row header-row header-mobile">
				<div class="header col">
					<button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu" ng-click="toggleMobileMenu()">
						<span class="tcon-menu__lines" aria-hidden="true"></span>
						<span class="tcon-visuallyhidden">toggle menu</span>
					</button>
				</div>
			</div>
			<div class="mobile-menu" ng-class="mobileMenuSlideClass">
				<ul>
					<li>
						<a id="news-link-mobile" href="##news" ng-click="highlightMenu('news-link',true)" target="_self">{{jsonModel.overallJson.menuentries.news.label}}</a>
					</li>
					<li>
						<a id="live-link-mobile" href="##live" ng-click="highlightMenu('live-link',true)" target="_self">{{jsonModel.overallJson.menuentries.live.label}}</a>
					</li>
					<li>
						<a id="music-link-mobile" href="##music" ng-click="highlightMenu('music-link',true)" target="_self">{{jsonModel.overallJson.menuentries.music.label}}</a>
					</li>
					<li>
						<a id="impressions-link-mobile" href="##impressions" ng-click="highlightMenu('impressions-link',true)" target="_self">{{jsonModel.overallJson.menuentries.impressions.label}}</a>
					</li>
				</ul>
			</div>
			<!-- sidetext -->
			<p class="side-text">
				{{jsonModel.overallJson.verticletext}}
			</p>

			<!-- news -->
			<div class="row news-row" id="news" ng-controller="NewsController">
				<div class="news">
					<h2>{{jsonModel.overallJson.menuentries.news.label}}</h2>
					<ul>
						<li ng-repeat="news in jsonModel.newsJson.news track by $index">
							<div ng-show="news.imageUrl != '' && $index <= newsIndex" class="slide-up-smal">
								<div class="news col-xs-8">
									<h3>{{news.title}}</h3>
									<p ng-bind-html="news.copy"></p>
								</div>
								<div class="news col-xs-4">
									<img ng-src="{{news.imageUrl}}"/>
								</div>
							</div>

							<div ng-show="news.imageUrl === '' && $index <= newsIndex" class="slide-up-smal">
								<div class="news col-xs-12">
									<h3>{{news.title}}</h3>
									<p ng-bind-html="news.copy"></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="news col-xs-12 more-button">
					<a ng-if="newsIndex < jsonModel.newsJson.news.length - 1" ng-click="showMoreNews()">⇃{{jsonModel.overallJson.showmorebutton}}⇂</a>
					<a ng-if="newsIndex > 0" ng-click="showLessNews()">↿{{jsonModel.overallJson.showlessbutton}}↾</a>
				</div>
			</div>

			<!-- live -->
			<div class="row" id="live" ng-controller="LiveController">
				<div class="live col">
					<h2>{{jsonModel.overallJson.menuentries.live.label}}</h2>
					<div ng-repeat="show in jsonModel.liveJson.shows">
						<h3>{{show.title}}</h3>
						<ul>
							<li ng-repeat="showentry in show.showlist">
								<p>
									{{showentry.date}}
								</p>
								<p ng-if="showentry.date != ''">
									-
								</p><p ng-bind-html="showentry.copy"></p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- music -->
			<div class="row" id="music" ng-controller="DiscoController">
				<div class="music col">
					<h2>{{jsonModel.overallJson.menuentries.music.label}}</h2>

					<!-- discography -->
					<div class="discocraphy">

						<img ng-src="{{jsonModel.discographyJson.backgroundImageUrl}}" class="discocraphy-background"/>

						<div ng-repeat="album in jsonModel.discographyJson.albums track by $index">
							<!-- cover big -->
							<a class="discography-popup" ng-if="$index === 0" href="#discographyPopup" ng-click="setDiscographyPopup(album)" target=""><img src="images/music/music_cover_cycle-of-naught.jpg" class="discocraphy-cover-big"/></a>
						</div>

						<!-- cover small list -->
						<div class="row">
							<ul class="discocraphy-cover-list">
								<li ng-repeat="albumSmall in jsonModel.discographyJson.albums track by $index" ng-if="$index > 0">
									<a class="discography-popup" href="#discographyPopup" ng-click="setDiscographyPopup(albumSmall)" target=""><img ng-src="{{albumSmall.coverUrl}}" class="discocraphy-cover-small"/></a>
								</li>
							</ul>

						</div>
					</div>
				</div>

				<!-- dicography pop up -->
				<div class="content" id="discographyPopup">
					<div class="row">
						<div class="news col-xs-6">
							<h3>{{discoModel.title}}</h3>
							<ul>
								<li ng-repeat='title in discoModel.titleList track by $index'>
									{{$index+1}}. {{title.name}}
								</li>
							</ul>
							<br>
							<ul>
								<li ng-repeat='info in discoModel.infos track by $index' class="infolist">
									<p>
										{{info.type}}:
									</p><p ng-bind-html="info.copy"></p>
								</li>
							</ul>
						</div>
						<div class="col-xs-6">
							<img ng-src="{{discoModel.coverPopUpUrl}}"/>
						</div>
						<div class="col-xs-12 more-button" ng-if="discoModel.lyrics.length > 0">
							<a ng-if="showLyrics === false" ng-click="toggleLyrics()">{{jsonModel.overallJson.showlyricsbutton}}</a>
							<a ng-if="showLyrics" ng-click="toggleLyrics()">{{jsonModel.overallJson.hidelyricsbutton}}</a>
						</div>
						<div class="col-xs-12 center">
							<div ng-show="showLyrics" class="slide-up">
								<div ng-repeat="lyric in discoModel.lyrics track by $index">
									<br>
									<p ng-bind-html="lyric.copy">
									</p>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- video player -->
			<div class="row">
				<div class="video col">
					<iframe width="100%" height="500px" src="https://www.youtube.com/embed/R77hw7V4y28" frameborder="0" allowfullscreen></iframe>
					<!--
					<iframe src="https://player.vimeo.com/video/132732213" width="100%" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					-->
				</div>
			</div>
			
			
			<!-- music player -->
			<div class="row" id="music-player" ng-controller="MusicController">
				<div class="music col">
					<div class="music-player"></div>
				</div>
			</div>

			<!-- impressions -->
			<div class="row" id="impressions" ng-controller="GalleryController" ng-init="initGallery()">
				<div class="impressions col">
					<h2>{{jsonModel.overallJson.menuentries.impressions.label}}</h2>

					<div ng-repeat="gallery in galleryJson.gallery">
						<h3>{{gallery.title}}</h3>
						<div class="slider">
							<div ng-repeat="image in gallery.images" class="slide">
								<a href="{{image.href}}" title="{{image.title}} - by {{gallery.credits}}"><img ng-src="{{image.imgsrc}}"/></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- footer -->
			<div class="row footer-row">
				<div class="footer col">
					<ul class="footer-items">
						<li ng-repeat="socialicon in jsonModel.overallJson.footer.socialicons">
							<a ng-if="socialicon.type === 'mail'" href="{{socialicon.link}}" target="_self"><img ng-src="{{socialicon.iconUrl}}"/></a>	
							<a ng-if="socialicon.type != 'mail'" href="{{socialicon.link}}" target="_blank"><img ng-src="{{socialicon.iconUrl}}"/></a>
						</li>
					</ul>
					<!-- credits -->
					<p ng-bind-html="jsonModel.overallJson.footer.credits"></p>
				</div>
			</div>
		</div>

		<!-- impressum pop up -->
		<div class="content" id="impressumPopup">
			<p class="impressum-content" ng-bind-html="jsonModel.overallJson.impressum"></p>
		</div>

		<!-- loeading overlay -->
		<div class="loading-overlay">
			<p>
				Loading
			</p>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/jquery.easing.1.3.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/libs/bootstrap.min.js"></script>
		<!-- include stellar for paralax scrolling -->
		<script src="js/libs/jquery.stellar.js"></script>
		<!-- include anchor scrolling -->
		<script src="js/libs/jquery.anchor.scroll.js"></script>
		<!-- include responsive gallery slider -->
		<script src="js/libs/jquery.bxslider.min.js"></script>

		<!-- Include music player libs -->
		<link rel="stylesheet" type="text/css" href="js/libs/css/style.css">
		<link rel="stylesheet" type="text/css" href="css/demo.css">
		<script type="text/javascript" src="js/libs/jquery-jplayer/jquery.jplayer.js"></script>
		<script type="text/javascript" src="js/libs/ttw-music-player-min.js"></script>

		<!-- lightbox gallery -->
		<script type="text/javascript" src="js/libs/jquery.magnific-popup.min.js"></script>

		<!-- transformicons -->
		<script type="text/javascript" src="js/libs/transformicons.js"></script>
		<script>
			transformicons.add('.tcon')
		</script>

		<!-- my angular scripts -->
		<script src="js/app.js"></script>
		<script src="js/controller/appController.js"></script>
		<script src="js/controller/modules/newsController.js"></script>
		<script src="js/controller/modules/galleryController.js"></script>
		<script src="js/controller/modules/musicController.js"></script>
		<script src="js/controller/modules/discoController.js"></script>
		<script src="js/controller/modules/liveController.js"></script>

		<script src="js/services/jsonService.js"></script>
	</body>
</html>